table {
    border:1px solid;
    border-collapse: collapse;
    padding: 10px;
    background-color: rgb(243, 181, 202);
}

h1 {
    margin: 0;
}

td, tr {
    border: 1px solid;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff2f2;
    align-items: center;
}

button {
    border-radius: 15px;
    background-color: rgb(243, 181, 202);
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
}